#category header{height: 50px;line-height: 50px;width: 100%;position: fixed;top: 0;background-color: #fff;z-index: 10;border-bottom: 1px solid #efefef;}
#category header span{position: absolute;left: 10px;top: 15px;height: 25px;width: 25px;background: url(../../icon/back.png)no-repeat center;background-size: cover;}
#category header div{width: 40%;margin: 0 auto;text-align: center;font-size: 16px;}
#category .content{padding: 10px 10px 10px;padding-top: 60px;position: absolute;top: 0;box-sizing: border-box;}
#category .content .mod{margin-bottom: 10px;border-bottom: 1px solid #efefef;}
#category .content .mod:last-child{margin-bottom: 0;border-bottom: 0;}
#category .content .mod p{width: 100%;padding: 10px 0 20px;font-size: 16px;}
#category .content .mod span{color:#666;padding: 10px 0;}